.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination a {
  display: inline-block;
  padding: 0.5rem 2rem;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination a.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
