.heroSlide {
  height: auto;
  overflow: visible;
  position: relative;
  z-index: 3;
}

.heroItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background-size: cover;
  overflow: visible;
}

.posterSection {
  overflow: visible;
}

.swiper {
  overflow: visible;
}

.infoSection {
  position: relative;
  z-index: 1001;
  margin-left: 120px;
  flex: 2;
}

.filmTitle {
  text-align: left;
  font-size: 68px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  filter: brightness(1.2) drop-shadow(0 0 6px #f00) drop-shadow(0 0 10px #f00);
  z-index: 1002;
}

.heroSlidefilmPoster {
  position: relative;
  z-index: 1000;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-left: 200px;
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 60px;
}

.filmReview {
  font-size: 24px;
  color: white;
  width: 1000px;
  padding: 40px 25px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .modalContent {
    width: 80%;
  }
}

.button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.WatchTrailerButton {
  border: 4px solid transparent;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 30px;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.WatchTrailerButton:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #ff0000;
  filter: brightness(1.2) drop-shadow(0 0 6px #f00) drop-shadow(0 0 10px #f00);
  transform: scale(1.2);
}

.heroSlidefilmPoster:hover {
  transform: scale(1.2);
  filter: brightness(1) drop-shadow(0 0 12px #000) drop-shadow(0 0 20px #000);
}

.expandedPoster {
  transform: scale(1.5);
  transition: transform 0.5s ease;
  z-index: 1500;
}

.expandedPoster:hover {
  filter: brightness(1) drop-shadow(0 0 0px #000) drop-shadow(0 0 0px #000);
}
